<div class="w-full flex items-center flex-wrap xl:flex-nowrap pb-4">
  <div class="w-full lg:w-auto pb-2 lg:pb-0">
      <span class=" block text24">Assign Permission (Principle)</span>
  </div>
  <div class="w-full xl:w-auto flex items-center flex-wrap lg:flex-nowrap space-x-3  justify-end ml-auto">
      <button class="lg:order-4 btn_primary group anim">
          <span class="icon_show icon-add text-xl xl:text-2xl text-white group-hover:text-primary"></span>
          <span class="text18 text-white group-hover:text-primary whitespace-nowrap">Save Permission</span>
      </button>
  </div>
</div>
<div class="mt-5 xl:mt-6 2xl:mt-7 flex justify-end">
  <section class="example-section">
    <mat-checkbox class="example-margin check_lable" [checked]="select_all">Select All</mat-checkbox>
  </section>
</div>
<div class="w-full grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-3.5">
  <div class="w-full grid gap-3.5 mt-4 lg:mt-6 xl:mt-8">
    <div class="w-full border border-t4 rounded-2xl px-6 py-5 bg-white">
      <div >
        <div class="flex items-center justify-between">
          <span
           class="text16 text-black">{{'Princeple'}}</span>
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="selectAll">Select All</mat-checkbox>
          </section>
        </div>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="view">View</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="insertUpdate">Add/Edit</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="delete" >Delete</mat-checkbox>
          </section>
        </span>
      </div>
  
    </div>
  </div>
  <div class="w-full grid gap-3.5 mt-4 lg:mt-6 xl:mt-8">
    <div class="w-full border border-t4 rounded-2xl px-6 py-5 bg-white">
      <div >
        <div class="flex items-center justify-between">
          <span
           class="text16 text-black">{{'Princeple'}}</span>
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="selectAll">Select All</mat-checkbox>
          </section>
        </div>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="view">View</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="insertUpdate">Add/Edit</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="delete" >Delete</mat-checkbox>
          </section>
        </span>
      </div>
  
    </div>
  </div>
  <div class="w-full grid gap-3.5 mt-4 lg:mt-6 xl:mt-8">
    <div class="w-full border border-t4 rounded-2xl px-6 py-5 bg-white">
      <div >
        <div class="flex items-center justify-between">
          <span
           class="text16 text-black">{{'Princeple'}}</span>
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="selectAll">Select All</mat-checkbox>
          </section>
        </div>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="view">View</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="insertUpdate">Add/Edit</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="delete" >Delete</mat-checkbox>
          </section>
        </span>
      </div>
  
    </div>
  </div>
  <div class="w-full grid gap-3.5 mt-4 lg:mt-6 xl:mt-8">
    <div class="w-full border border-t4 rounded-2xl px-6 py-5 bg-white">
      <div >
        <div class="flex items-center justify-between">
          <span
           class="text16 text-black">{{'Princeple'}}</span>
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="selectAll">Select All</mat-checkbox>
          </section>
        </div>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="view">View</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="insertUpdate">Add/Edit</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="delete" >Delete</mat-checkbox>
          </section>
        </span>
      </div>
  
    </div>
  </div>
  <div class="w-full grid gap-3.5 mt-4 lg:mt-6 xl:mt-8">
    <div class="w-full border border-t4 rounded-2xl px-6 py-5 bg-white">
      <div >
        <div class="flex items-center justify-between">
          <span
           class="text16 text-black">{{'Princeple'}}</span>
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="selectAll">Select All</mat-checkbox>
          </section>
        </div>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="view">View</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="insertUpdate">Add/Edit</mat-checkbox>
          </section>
        </span>
        <span class="block -mx-[11px]">
          <section class="example-section">
            <mat-checkbox class="example-margin check_lable" id="delete" >Delete</mat-checkbox>
          </section>
        </span>
      </div>
  
    </div>
  </div>
</div>
<!-- <div class="w-full flex items-center justify-center bg-white shadow-xl rounded-2xl p-10" >
  <span class="text-28 font-semibold">Role permission not found</span>
</div> -->
