<div class="space-y-5 lg:space-y-7 xl:space-y-9">
  <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-dark block mb-4 lg:mb-6 xl:mb-10">Welcome,  Admin</span>
  <div class="flex flex-wrap -mx-2.5">
    <div class="w-full sm:w-1/2 lg:w-1/3 2xl:w-1/4 p-2.5">
      <div class="h-full p-5 py-7 bg-white rounded-2xl flex items-center space-x-4 2xl:space-x-7">
        <span class="icon-multi-user_fill text-5xl text-primary"></span>
        <div class="space-y-2">
          <span class="text20 text-dark block">All Students</span>
          <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-primary block">4000</span>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/3 2xl:w-1/4 p-2.5">
      <div class="h-full p-5 py-7 bg-white rounded-2xl flex items-center space-x-4 2xl:space-x-7">
        <span class="icon-tag-user_fill text-5xl text-primary"></span>
        <div class="space-y-2">
          <span class="text20 text-dark block">All Students</span>
          <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-primary block">56</span>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/3 2xl:w-1/4 p-2.5">
      <div class="h-full p-5 py-7 bg-white rounded-2xl flex items-center space-x-4 2xl:space-x-7">
        <span class="icon-tag-user_fill text-5xl text-primary"></span>
        <div class="space-y-2">
          <span class="text20 text-dark block">All Students</span>
          <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-primary block">12</span>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/3 2xl:w-1/4 p-2.5">
      <div class="h-full p-5 py-7 bg-white rounded-2xl flex items-center space-x-4 2xl:space-x-7">
        <span class="icon-tag-user_fill text-5xl text-primary"></span>
        <div class="space-y-2">
          <span class="text20 text-dark block">All Students</span>
          <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-primary block">30</span>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/3 2xl:w-1/4 p-2.5">
      <div class="h-full p-5 py-7 bg-white rounded-2xl flex items-center space-x-4 2xl:space-x-7">
        <span class="icon-multi-user_fill text-5xl text-primary"></span>
        <div class="space-y-2">
          <span class="text20 text-dark block">Total Fees Collection</span>
          <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-primary block">10000</span>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 lg:w-1/3 2xl:w-1/4 p-2.5">
      <div class="h-full p-5 py-7 bg-white rounded-2xl flex items-center space-x-4 2xl:space-x-7">
        <span class="icon-multi-user_fill text-5xl text-primary"></span>
        <div class="space-y-2">
          <span class="text20 text-dark block">Total Expense</span>
          <span class="text-24 lg:text-[28px] xl:text-36 font-bold text-primary block">3456</span>
        </div>
      </div>
    </div>
  </div>
  <div class="px-9 xl:px-12 py-7 xl:py-9 bg-white rounded-2xl"></div>
  <div class="px-9 xl:px-12 py-7 xl:py-9 bg-white rounded-2xl"></div>  
</div>